// Colors
$background-light: #f9f9f9;
$button-background: #7daccd;
$button-primary-background: #82a733;
$button-active-background: #4e8dcc;
$disabled: gray;
$form-section-active: #4e8dcc;
$form-section-disabled: #a1b3c5;
$form-section-inactive: #ffffff;
$form-custom-background: #d4e0ee;
$slider-track: #a1b3c5;
$header-background: #3f6f9d;
$footer-background: #204161;
$highlight-dark: #3f6f9d;
$highlight: #4e8dcc;
$line-light: #e1e1e1;
$line-dark: #666666;
$link-dark: #3f6f9d;
$link-light: #4e8dcc;
$text-dark: #333333;
$text-disabled: #b5c0cc;
$text-good: #82a733;
$text-light: #ffffff;
$text-semidark: #666666;
$dialog-border-color: #3f6f9d;
$dialog-background: rgba(22, 22, 21, 0.5);
$notification-background: #4e8dcc;

//the trigger width below which we switch to mobile view
$window-width-small-low: 800px;
$window-width-large-low: 1920px;

//font global variables (the imports are at font_faces.scss)
$semi-bold: 600;
$extra-bold: 800;

$font-size-xl: 1.8em;
$font-size-l: 1.5em;
$font-size-m: 1em;
$font-size-s: 0.9em;
$font-size-xs: 0.7em;

// $font-size-xl: 45px;
// $font-size-l: 20px;
// $font-size-m: 17px;
// $font-size-s: 15px;

$label-min-width: 220px;

$footer-height: 100px;
$header-height: 60px;
